name: 'Integration'

on:
  push:
    branches:
      - 'main'
      - 'release/**/*'
  pull_request:
    branches:
      - 'main'
      - 'release/**/*'
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  integration:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: 'ubuntu-latest'

    steps:
    - uses: 'actions/checkout@v4'

    - uses: 'actions/setup-node@v4'
      with:
        node-version: '20.x'

    - name: 'npm build'
      run: 'npm ci && npm run build'

    - uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: '${{ vars.WIF_PROVIDER_NAME }}'
        service_account: '${{ vars.SERVICE_ACCOUNT_EMAIL }}'

    - id: 'secrets'
      name: 'secrets'
      uses: './'
      with:
        secrets: |-
          token:${{ vars.SECRET_NAME }}
          password:${{ vars.SECRET_VERSION_NAME }}
          regional:${{ vars.REGIONAL_SECRET_NAME }}

    - name: 'outputs'
      run: echo '${{ steps.secrets.outputs.token }}${{ steps.secrets.outputs.password }}${{ steps.secrets.outputs.regional }}'

    - id: 'secrets-encoded'
      name: 'secrets-encoded'
      uses: './'
      with:
        encoding: 'hex'
        secrets: |-
          token:${{ vars.SECRET_NAME }}
          password:${{ vars.SECRET_VERSION_NAME }}
          regional:${{ vars.REGIONAL_SECRET_NAME }}

    - name: 'outputs-encoded'
      run: echo '${{ steps.secrets-encoded.outputs.token }}${{ steps.secrets-encoded.outputs.password }}${{ steps.secrets-encoded.outputs.regional }}'
